form.login {
  display: grid;
  height: 80vh;
  place-content: center;
  flex-direction: column;
  flex-grow: 1;
  min-width: 300px;
}

form.login legend {
  text-align: center;
}

form.login label {
  display: none;
}

form.login p {
  text-align: right;
}

form.login input {
  padding: 0.5rem;
  width: 100%;
  background-color: #e9e9e9;
  border: 2px solid #8c8c8c;
}

form.login button {
  margin: 1rem auto;
  width: 100%;
}
