.exercises {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.exercises aside {
  width: 80%;
  max-width: 400px;
  background-color: #9cdd00;
  padding: 1em 2em;
}

.exercises aside fieldset {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

.exercises aside label {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 0.6em;
  color: #413d3d;
}

.exercises aside .filters-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
  gap: 1em;
}
.exercises .content {
  display: flex;
  flex-direction: column;
}

.exercises .button-new-exercise {
  margin-left: auto;
}

@media (max-width: 768px) {
  .exercises {
    display: block;
  }

  .exercises aside {
    width: 100%;
  }
}
