footer {
  /* background-color: #9cdd00; */
  /* background-color: #808080; */
  background-color: black;

  color: #8c8c8c;
  font-weight: 300;
}

div.logo {
  display: flex;
  justify-content: center;
  color: #8c8c8c;
}

footer > ul.regulations {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding-bottom: 1rem;
}

footer > p {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}
