footer {
  background-color: black;
  color: #8c8c8c;
  font-weight: 300;
}

footer .logo {
  display: flex;
  justify-content: center;
  font-weight: 900;
  align-items: center;
  text-align: ce;
  color: #8c8c8c;
  font-size: 1.2rem;
  margin-right: 5rem;
}

footer .logo img {
  width: 80px;
  text-align: center;
}

footer > ul.regulations {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding-bottom: 1rem;
}

footer > p {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}
